    @import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rubik&family=Work+Sans:wght@700&display=swap');
    * {
        box-sizing: border-box;
    }
    
    html {
        scroll-behavior: smooth;
        overflow: hidden;
    }
    
    body,
    html {
        padding: 0;
        margin: 0;
        width: 100%;
        overflow-x: hidden;
    }
    
    body {
        background-color: #e6e6e6;
        font-family: "Patrick Hand", cursive;
    }
    
    h1 {
        text-align: center;
        color: black;
        font-family: "Bebas Neue", cursive;
        font-size: 5em;
        letter-spacing: 0.15em;
    }
    
    h2 {
        text-decoration: underline;
    }
    /* Spinner Styles */
    /* -------------------------------------------- */
    
    .spinner-wrapper {
        width: 100%;
        height: 100%;
        background-color: #151515;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .spinner {
        position: relative;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
    }
    
    .spinner::before,
    .spinner:after {
        content: "";
        position: absolute;
        border-radius: 50%;
    }
    
    .spinner:before {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(90deg, #ff00cc 0%, #333399 100%);
        animation: spin 0.5s infinite linear;
    }
    
    .spinner:after {
        width: 90%;
        height: 90%;
        background-color: #151515;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
    /* Sizing  */
    
    @media only screen and (max-width: 500px) {
        h1 {
            font-size: 3em;
        }
        h1 i {
            display: none;
        }
        body {
            font-size: 10px;
        }
    }
    /* -------------------------------------------- */
    /* Navigation Styles */
    /* -------------------------------------------- */
    
    nav ul li a {
        border-top: 2px solid black;
        transition: 0.5s linear;
    }
    
    nav ul li a:hover {
        border-top: 2px solid white;
    }
    
    .first {
        position: fixed;
        padding: 0;
        margin: 0;
        width: 100%;
        z-index: 999;
        font-family: "Bebas Neue", cursive;
        font-size: 1.3em;
        height: 1.4em;
        letter-spacing: 0.15em;
    }
    
    @media only screen and (orientation: landscape) and (max-width: 800px) {
        .first {
            height: 1em;
        }
        header {
            padding: 0.3em 0;
        }
        .fa-3x {
            font-size: 2em !important;
        }
        .hero_text h2 {
            font-size: 0.5em;
        }
        .hero_text h1 {
            font-size: 1em;
        }
    }
    
    @media only screen and (orientation: landscape) and (max-width: 400px) {
        .fa-3x {
            font-size: 1em !important;
        }
        .hero_text h2 {
            font-size: 0.2em;
        }
        .hero_text h1 {
            font-size: 0.6em;
        }
    }
    
    .nav-container {
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    header {
        background: black;
        color: #ebebd3;
        padding: 1em 0;
        position: relative;
    }
    
    header::after {
        content: "";
        clear: both;
        display: block;
    }
    
    .logo {
        float: left;
        font-size: 1rem;
        margin: 0;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
    }
    
    .logo span {
        font-weight: 400;
    }
    
    .site-nav {
        position: absolute;
        top: 100%;
        right: 0%;
        background: black;
        clip-path: circle(0px at top right);
        transition: clip-path ease-in-out 700ms;
    }
    
    .site-nav--open {
        clip-path: circle(250% at top right);
    }
    
    .site-nav ul {
        float: right;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .site-nav li {
        border-bottom: 1px solid #575766;
    }
    
    .site-nav li:last-child {
        border-bottom: none;
    }
    
    .site-nav a {
        color: #ebebd3;
        display: block;
        padding: 1.5em 4em 1.5em 1.5em;
        text-transform: uppercase;
        text-decoration: none;
    }
    
    .site-nav a:hover,
    .site-nav a:focus {
        background: white;
        color: black;
    }
    
    .site-nav--icon {
        display: inline-block;
        font-size: 1.5em;
        margin-right: 1em;
        width: 1.1em;
        text-align: right;
        color: #0099ff;
    }
    
    .menu-toggle {
        padding: 1em;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        cursor: pointer;
    }
    
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        content: "";
        display: block;
        background: #ebebd3;
        height: 3px;
        width: 1.75em;
        border-radius: 3px;
        transition: all ease-in-out 500ms;
    }
    
    .hamburger::before {
        transform: translateY(-6px);
    }
    
    .hamburger::after {
        transform: translateY(3px);
    }
    
    .open .hamburger {
        transform: rotate(45deg);
    }
    
    .open .hamburger::before {
        opacity: 0;
    }
    
    .open .hamburger::after {
        transform: translateY(-3px) rotate(-90deg);
    }
    
    @media (min-width: 1235px) {
        .menu-toggle {
            display: none;
        }
        .site-nav {
            height: auto;
            position: relative;
            background: transparent;
            clip-path: initial;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .site-nav li {
            display: inline-block;
            border: none;
        }
        .site-nav a {
            padding: 0;
            margin-left: 3em;
        }
        .site-nav a:hover,
        .site-nav a:focus {
            background: transparent;
            color: #8c8c8c;
        }
        i.site-nav--icon {
            display: none;
        }
        .logo {
            display: none;
        }
    }
    /* -------------------------------------------- */
    /* Home Styles */
    /* -------------------------------------------- */
    
    .hero-image {
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        filter: blur(8px) brightness(50%);
    }
    
    #hero-image-first {
        background-image: url("Images/Hero_Images/ggbridge.JPG");
        background-position: 75% 50%;
    }
    
    #hero-image-second {
        background-image: url("Images/Hero_Images/pose_on_soccerball.JPG");
        background-position: center;
    }
    
    #hero-image-third {
        background-image: url("Images/Hero_Images/onRailByHighway.JPG");
        background-position: 70% 20%;
    }
    
    #hero-image-fourth {
        background-image: url("Images/Hero_Images/pose_on_tarp.jpg");
        background-position: 70% 55%;
    }
    
    #hero-image-fifth {
        background-image: url("Images/Hero_Images/squatting_on_tarp.JPG");
        background-position: 60% 50%;
    }
    
    #hero-image-sixth {
        background-image: url("Images/Hero_Images/onBikeInTrail.JPG");
        background-position: 50% 80%;
    }
    
    #home-text {
        border: 3px solid #f1f1f1;
        padding: 1em;
        position: absolute;
        width: 80%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    
    #home-text h1 {
        letter-spacing: normal;
    }
    
    .hero_text {
        text-align: center;
        text-decoration: none;
        color: white;
    }
    
    #social-media-row {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        margin: 0;
    }
    
    #social-media-row li {
        margin: 5px;
        display: inline-block;
    }
    
    #social-media-row i {
        color: white;
        transition: 0.2s linear color;
    }
    
    #social-media-row i:hover {
        color: green;
    }
    /* -------------------------------------------- */
    /* About Styles */
    /* -------------------------------------------- */
    
    #about {
        margin: 6em 0 1em 0;
        border: 1px solid #e6e6e6;
    }
    
    #about h1 {
        margin-top: 1em;
        text-align: center;
    }
    
    #about p,
    #about h1,
    #about h2 {
        color: black;
    }
    
    #about-me-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #about-me-container img {
        width: 80%;
        min-width: 300px;
        max-width: 600px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    
    #about-me-p-container {
        width: 50%;
        margin: 1em 2em;
    }
    
    #about-me-p-container p {
        width: 90%;
        margin: 0 auto;
        font-family: "Patrick Hand", cursive;
        font-size: 2em;
        text-align: justify;
    }
    
    #about-me-img-container {
        width: 50%;
        margin: 1em 2em;
    }
    
    @media only screen and (max-width: 900px) {
        #about-me-img-container {
            width: 100%;
        }
        #about-me-p-container {
            width: 100%;
        }
        #about-me-container {
            flex-direction: column;
        }
    }
    /* -------------------------------------------- */
    /* Experience Styles */
    /* -------------------------------------------- */
    
    #experience {
        margin-top: 2em;
        padding-top: 1em;
    }
    
    #timeline-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        padding: 1vh 100px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        color: black;
        box-sizing: border-box;
    }
    
    #timeline-container * {
        box-sizing: border-box;
    }
    
    .timeline {
        width: 100%;
        max-width: 1000px;
        background: #fff;
        padding: 100px 50px;
        position: relative;
        box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
    }
    
    .timeline:before {
        content: '';
        position: absolute;
        top: 0px;
        left: calc(33% + 15px);
        bottom: 0px;
        width: 4px;
        background: black;
    }
    
    .timeline:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .entry {
        clear: both;
        text-align: left;
        position: relative;
    }
    
    .entry .title {
        margin-bottom: 0.5em;
        float: left;
        width: 33%;
        padding-right: 30px;
        text-align: right;
        position: relative;
    }
    
    .entry .title:before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        border: 4px solid salmon;
        background-color: #fff;
        border-radius: 100%;
        top: 15%;
        right: -7.25px;
        z-index: 99;
    }
    
    .entry .title h3 {
        margin: 0;
        font-size: 1.25em;
    }
    
    .entry .body {
        margin: 0 0 3em;
        float: right;
        width: 66%;
        padding-left: 30px;
    }
    
    .entry .body p {
        line-height: 1.4em;
    }
    
    .entry .body p:first-child {
        margin-top: 0;
        font-weight: 400;
    }
    
    .entry .body ul {
        color: #A9A9A9;
        color: black;
        padding-left: 0;
        list-style-type: none;
    }
    
    .entry .body ul li:before {
        content: "–";
        margin-right: 0.5em;
    }
    
    @media only screen and (max-width: 960px) {
        .timeline {
            padding: 100px 20px;
        }
        #timeline-container {
            padding: 2vw;
        }
        .entry .title:before {
            right: -17.25px;
        }
    }
    /* -------------------------------------------- */
    /* Languages Styles */
    /* -------------------------------------------- */
    
    #languages {
        margin-top: 10em;
        border: 1px solid #e6e6e6;
    }
    
    #languages h1 {
        margin-top: 1em;
    }
    
    #skills-graphic-outter-container {
        width: 80%;
        margin: 0 auto;
    }
    
    .skills-graphic-container {
        width: 100%;
        background-color: white;
        border: 3px solid black;
    }
    
    #skills-graphic-outter-container p {
        padding: 0;
        margin: 0.5em 0;
        font-size: 1.5em;
    }
    
    .skills {
        text-align: right;
        padding: 10px;
        font-size: 1.5em;
        color: white;
    }
    
    .python {
        width: 100%;
        background-color: #ffdd00;
    }

    .html {
        width: 100%;
        background-color: #ffd000;
        transition: 1s ease-in;
    }
    
    .css {
        width: 100%;
        background-color: #ffc300;
    }
    
    .js {
        width: 100%;
        background-color: #ffb700;
    }
    
    
    .java {
        width: 100%;
        background-color: #ffaa00;
    }
    
    .sql {
        width: 100%;
        background-color: #ffa200;
    }

    .bash {
        width: 100%;
        background-color: #ff9500;
    }
    
    .haskell {
        width: 100%;
        background-color: #ff8800;
    }
    
    @media only screen and (max-width: 500px) {
        #skills-graphic-outter-container {
            width: 95%;
        }
    }
    /* -------------------------------------------- */
    /* Software Styles  (REUSES SOME STYLES FROM PROJECTS)*/
    /* -------------------------------------------- */
    
    #software {
        margin-top: 2em;
        padding-top: 1em;
    }
    
    #software-container {
        border: 1px solid #e6e6e6;
    }
    
    #software-container h2 {
        text-decoration: none;
        margin-top: 10px;
        font-family: 'Work Sans', sans-serif;
    }
    
    .software-box {
        text-align: center;
        margin-bottom: 3em;
    }
    
    .software-svg {
        height: 150px;
        width: 125px;
    }
    /* -------------------------------------------- */
    /* Projects Styles */
    /* -------------------------------------------- */
    
    #portfolio {
        margin-top: 2em;
        padding-top: 1em;
    }
    
    #myBtnContainer {
        text-align: center;
        font-family: "Poppins", sans-serif;
    }
    
    body>h1 {
        margin: 1em 0 0.5em 0;
    }
    
    .row {
        --auto-grid-min-size: 16rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
        grid-gap: 1rem;
        width: 90%;
        max-width: 1300px;
        margin: 2em auto;
    }
    
    @media only screen and (min-width: 600px) {
        .row {
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        }
    }
    
    .column {
        position: relative;
        width: 100%;
        display: none;
        /* Hide all elements by default */
        font-family: "Poppins", sans-serif;
        border: 5px solid black;
        background-color: #bfbfbf;
    }
    
    .row h4 {
        text-align: center;
        margin: 0.4em 0;
        font-size: 2em;
    }
    
    .row .content p {
        margin: 0 1em 60px 1em;
        font-size: 1em;
    }
    
    .viewProject {
        background-color: black;
        color: white;
        height: 25px;
        width: 100px;
        position: absolute;
        bottom: 5%;
        left: 50%;
        margin-left: -50px;
        margin-bottom: -1.25px;
        transition: 0.3s linear;
    }
    
    .viewProject:hover {
        background-color: orangered;
    }
    /* The "show" class is added to the filtered elements */
    
    .show {
        display: block;
    }
    
    .portfolio-buttons {
        border: none;
        outline: none;
        padding: 12px 16px;
        /* background-color: white; */
        cursor: pointer;
    }
    
    .portfolio-buttons-normal {
        background-color: white;
    }
    
    .portfolio-buttons:hover {
        background-color: #ddd;
    }
    
    .portfolio-buttons-active,
    .portfolio-buttons:active {
        background-color: #666;
        color: white;
    }
    /* -------------------------------------------- */
    /* Awards Styles (REUSES SOME STYLES FROM PROJECTS) */
    /* -------------------------------------------- */
    
    #awards-certifications {
        margin-top: 0.85em;
        padding-top: 1em;
    }
    
    .awards-box {
        margin-bottom: 3em;
    }
    /* .awards-box h6{
        text-align: left;
    } */
    
    .awards-box h2 {
        text-align: center;
        font-family: 'Work Sans', sans-serif;
    }
    
    .awards-list {
        list-style: none;
    }
    
    .awards-box ul li h6 {
        font-weight: 700;
    }
    /* -------------------------------------------- */
    /* Dot Styles */
    /* -------------------------------------------- */
    
    #period0,
    #period1,
    #period2,
    #period3,
    #period4 {
        height: 500px;
    }
    
    #period0 {
        margin-top: 5em;
    }
    
    #period0 h1,
    #period1 h1,
    #period2 h1,
    #period3 h1,
    #period4 h1 {
        margin: 1em;
    }

    @media (max-width: 500px) {
        #period0,
        #period1,
        #period2,
        #period3,
        #period4 {
            height: 200px;
        }
    }

    /* -------------------------------------------- */
    /* Resume Styles */
    /* -------------------------------------------- */
    
    #resume-container {
        width: 100%;
        margin-bottom: 5em;
        text-align: center;
    }
    
    #resume {
        margin-bottom: 1em;
        padding-top: 1em;
    }
    
    #resume-container .resume-inner-container {
        overflow-y: hidden;
        overflow-x: auto;
    }
    
    #resume-container img {
        width: auto;
        height: auto;
    }
    /* -------------------------------------------- */
    /* Footer Styles */
    /* -------------------------------------------- */
    
    footer {
        background-color: #151515;
        color: white;
        padding: 3em;
        margin: 0;
    }
    
    footer p {
        text-align: center;
        font-size: 2em;
        font-family: 'Rubik', sans-serif;
    }
    
    #social-media-row-footer {
        text-align: center;
        padding: 0;
    }
    
    #social-media-row-footer li {
        margin: 5px;
        display: inline-block;
        padding: 0;
    }
    
    #social-media-row-footer i {
        color: white;
        transition: 0.2s linear color;
    }
    
    #social-media-row-footer i:hover {
        color: green;
    }
    
    @media (max-width: 1009px) {
        footer p {
            font-size: 1em;
        }
    }
    /* -------------------------------------------- */